Lab2_todo_(win-vs2017)/main.vcxproj.user
Lab2_todo_(win-vs2017)/.vs/main/v16/.suo
Lab2_todo_(win-vs2017)/.vs/main/v16/Browse.VC.db
Lab2_todo_(win-vs2017)/.vs/main/v16/ipch/AutoPCH/8e979fcd5b172598/MAIN.ipch
Lab2_todo_(win-vs2017)/Debug/main.exe
Lab2_todo_(win-vs2017)/Debug/main.exe.recipe
Lab2_todo_(win-vs2017)/Debug/main.ilk
Lab2_todo_(win-vs2017)/Debug/main.log
Lab2_todo_(win-vs2017)/Debug/main.obj
Lab2_todo_(win-vs2017)/Debug/main.pdb
Lab2_todo_(win-vs2017)/Debug/main.vcxproj.FileListAbsolute.txt
Lab2_todo_(win-vs2017)/Debug/vc142.idb
Lab2_todo_(win-vs2017)/Debug/vc142.pdb
Lab2_todo_(win-vs2017)/Debug/main.tlog/CL.command.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/CL.read.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/CL.write.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/link.command.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/link.read.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/link.write.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/main.lastbuildstate
Lab3_todo_(win-vs2017)/main.vcxproj.user
Lab3_todo_(win-vs2017)/.vs/main/v16/.suo
Lab3_todo_(win-vs2017)/.vs/main/v16/Browse.VC.db
Lab3_todo_(win-vs2017)/.vs/main/v16/Browse.VC.db-shm
Lab3_todo_(win-vs2017)/.vs/main/v16/Browse.VC.db-wal
Lab3_todo_(win-vs2017)/.vs/main/v16/Browse.VC.opendb
Lab3_todo_(win-vs2017)/.vs/main/v16/ipch/AutoPCH/726d8eee38ac9bd2/MAIN.ipch
Lab3_todo_(win-vs2017)/Debug/image_io.obj
Lab3_todo_(win-vs2017)/Debug/main.exe
Lab3_todo_(win-vs2017)/Debug/main.exe.recipe
Lab3_todo_(win-vs2017)/Debug/main.ilk
Lab3_todo_(win-vs2017)/Debug/main.log
Lab3_todo_(win-vs2017)/Debug/main.obj
Lab3_todo_(win-vs2017)/Debug/main.pdb
Lab3_todo_(win-vs2017)/Debug/main.vcxproj.FileListAbsolute.txt
Lab3_todo_(win-vs2017)/Debug/vc142.idb
Lab3_todo_(win-vs2017)/Debug/vc142.pdb
Lab3_todo_(win-vs2017)/Debug/main.tlog/CL.command.1.tlog
Lab3_todo_(win-vs2017)/Debug/main.tlog/CL.read.1.tlog
Lab3_todo_(win-vs2017)/Debug/main.tlog/CL.write.1.tlog
Lab3_todo_(win-vs2017)/Debug/main.tlog/link.command.1.tlog
Lab3_todo_(win-vs2017)/Debug/main.tlog/link.read.1.tlog
Lab3_todo_(win-vs2017)/Debug/main.tlog/link.write.1.tlog
Lab3_todo_(win-vs2017)/Debug/main.tlog/main.lastbuildstate
Lab4_todo_(win-vs2017)/Main.vcxproj.user
Lab4_todo_(win-vs2017)/.vs/Main/v16/.suo
Lab4_todo_(win-vs2017)/.vs/Main/v16/Browse.VC.db
Lab4_todo_(win-vs2017)/.vs/Main/v16/Browse.VC.db-shm
Lab4_todo_(win-vs2017)/.vs/Main/v16/Browse.VC.db-wal
Lab4_todo_(win-vs2017)/.vs/Main/v16/Browse.VC.opendb
Lab4_todo_(win-vs2017)/.vs/Main/v16/ipch/AutoPCH/c6673522b7b7c2aa/MAIN.ipch
Lab4_todo_(win-vs2017)/Release/Camera.obj
Lab4_todo_(win-vs2017)/Release/Image.obj
Lab4_todo_(win-vs2017)/Release/ImageIO.obj
Lab4_todo_(win-vs2017)/Release/Main.exe
Lab4_todo_(win-vs2017)/Release/Main.exe.recipe
Lab4_todo_(win-vs2017)/Release/Main.log
Lab4_todo_(win-vs2017)/Release/Main.obj
Lab4_todo_(win-vs2017)/Release/Main.pdb
Lab4_todo_(win-vs2017)/Release/Main.vcxproj.FileListAbsolute.txt
Lab4_todo_(win-vs2017)/Release/Plane.obj
Lab4_todo_(win-vs2017)/Release/Raytrace.obj
Lab4_todo_(win-vs2017)/Release/Sphere.obj
Lab4_todo_(win-vs2017)/Release/Triangle.obj
Lab4_todo_(win-vs2017)/Release/Util.obj
Lab4_todo_(win-vs2017)/Release/vc142.pdb
Lab4_todo_(win-vs2017)/Release/Main.tlog/CL.command.1.tlog
Lab4_todo_(win-vs2017)/Release/Main.tlog/CL.read.1.tlog
Lab4_todo_(win-vs2017)/Release/Main.tlog/CL.write.1.tlog
Lab4_todo_(win-vs2017)/Release/Main.tlog/link.command.1.tlog
Lab4_todo_(win-vs2017)/Release/Main.tlog/link.read.1.tlog
Lab4_todo_(win-vs2017)/Release/Main.tlog/link.write.1.tlog
Lab4_todo_(win-vs2017)/Release/Main.tlog/Main.lastbuildstate
