Lab2_todo_(win-vs2017)/main.vcxproj.user
Lab2_todo_(win-vs2017)/.vs/main/v16/.suo
Lab2_todo_(win-vs2017)/.vs/main/v16/Browse.VC.db
Lab2_todo_(win-vs2017)/.vs/main/v16/ipch/AutoPCH/8e979fcd5b172598/MAIN.ipch
Lab2_todo_(win-vs2017)/Debug/main.exe
Lab2_todo_(win-vs2017)/Debug/main.exe.recipe
Lab2_todo_(win-vs2017)/Debug/main.ilk
Lab2_todo_(win-vs2017)/Debug/main.log
Lab2_todo_(win-vs2017)/Debug/main.obj
Lab2_todo_(win-vs2017)/Debug/main.pdb
Lab2_todo_(win-vs2017)/Debug/main.vcxproj.FileListAbsolute.txt
Lab2_todo_(win-vs2017)/Debug/vc142.idb
Lab2_todo_(win-vs2017)/Debug/vc142.pdb
Lab2_todo_(win-vs2017)/Debug/main.tlog/CL.command.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/CL.read.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/CL.write.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/link.command.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/link.read.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/link.write.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/main.lastbuildstate
