Lab2_todo_(win-vs2017)/main.vcxproj.user
Lab2_todo_(win-vs2017)/.vs/main/v16/.suo
Lab2_todo_(win-vs2017)/.vs/main/v16/Browse.VC.db
Lab2_todo_(win-vs2017)/.vs/main/v16/ipch/AutoPCH/8e979fcd5b172598/MAIN.ipch
Lab2_todo_(win-vs2017)/Debug/main.exe
Lab2_todo_(win-vs2017)/Debug/main.exe.recipe
Lab2_todo_(win-vs2017)/Debug/main.ilk
Lab2_todo_(win-vs2017)/Debug/main.log
Lab2_todo_(win-vs2017)/Debug/main.obj
Lab2_todo_(win-vs2017)/Debug/main.pdb
Lab2_todo_(win-vs2017)/Debug/main.vcxproj.FileListAbsolute.txt
Lab2_todo_(win-vs2017)/Debug/vc142.idb
Lab2_todo_(win-vs2017)/Debug/vc142.pdb
Lab2_todo_(win-vs2017)/Debug/main.tlog/CL.command.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/CL.read.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/CL.write.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/link.command.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/link.read.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/link.write.1.tlog
Lab2_todo_(win-vs2017)/Debug/main.tlog/main.lastbuildstate
Lab3_todo_(win-vs2017)/main.vcxproj.user
Lab3_todo_(win-vs2017)/.vs/main/v16/.suo
Lab3_todo_(win-vs2017)/.vs/main/v16/Browse.VC.db
Lab3_todo_(win-vs2017)/.vs/main/v16/Browse.VC.db-shm
Lab3_todo_(win-vs2017)/.vs/main/v16/Browse.VC.db-wal
Lab3_todo_(win-vs2017)/.vs/main/v16/Browse.VC.opendb
Lab3_todo_(win-vs2017)/.vs/main/v16/ipch/AutoPCH/726d8eee38ac9bd2/MAIN.ipch
Lab3_todo_(win-vs2017)/Debug/image_io.obj
Lab3_todo_(win-vs2017)/Debug/main.exe
Lab3_todo_(win-vs2017)/Debug/main.exe.recipe
Lab3_todo_(win-vs2017)/Debug/main.ilk
Lab3_todo_(win-vs2017)/Debug/main.log
Lab3_todo_(win-vs2017)/Debug/main.obj
Lab3_todo_(win-vs2017)/Debug/main.pdb
Lab3_todo_(win-vs2017)/Debug/main.vcxproj.FileListAbsolute.txt
Lab3_todo_(win-vs2017)/Debug/vc142.idb
Lab3_todo_(win-vs2017)/Debug/vc142.pdb
Lab3_todo_(win-vs2017)/Debug/main.tlog/CL.command.1.tlog
Lab3_todo_(win-vs2017)/Debug/main.tlog/CL.read.1.tlog
Lab3_todo_(win-vs2017)/Debug/main.tlog/CL.write.1.tlog
Lab3_todo_(win-vs2017)/Debug/main.tlog/link.command.1.tlog
Lab3_todo_(win-vs2017)/Debug/main.tlog/link.read.1.tlog
Lab3_todo_(win-vs2017)/Debug/main.tlog/link.write.1.tlog
Lab3_todo_(win-vs2017)/Debug/main.tlog/main.lastbuildstate
Lab4_todo_(win-vs2017)/Main.vcxproj.user
Lab4_todo_(win-vs2017)/.vs/Main/v16/.suo
Lab4_todo_(win-vs2017)/.vs/Main/v16/Browse.VC.db
Lab4_todo_(win-vs2017)/.vs/Main/v16/Browse.VC.db-shm
Lab4_todo_(win-vs2017)/.vs/Main/v16/Browse.VC.db-wal
Lab4_todo_(win-vs2017)/.vs/Main/v16/Browse.VC.opendb
Lab4_todo_(win-vs2017)/.vs/Main/v16/ipch/AutoPCH/c6673522b7b7c2aa/MAIN.ipch
Lab4_todo_(win-vs2017)/Release/Camera.obj
Lab4_todo_(win-vs2017)/Release/Image.obj
Lab4_todo_(win-vs2017)/Release/ImageIO.obj
Lab4_todo_(win-vs2017)/Release/Main.exe
Lab4_todo_(win-vs2017)/Release/Main.exe.recipe
Lab4_todo_(win-vs2017)/Release/Main.log
Lab4_todo_(win-vs2017)/Release/Main.obj
Lab4_todo_(win-vs2017)/Release/Main.pdb
Lab4_todo_(win-vs2017)/Release/Main.vcxproj.FileListAbsolute.txt
Lab4_todo_(win-vs2017)/Release/Plane.obj
Lab4_todo_(win-vs2017)/Release/Raytrace.obj
Lab4_todo_(win-vs2017)/Release/Sphere.obj
Lab4_todo_(win-vs2017)/Release/Triangle.obj
Lab4_todo_(win-vs2017)/Release/Util.obj
Lab4_todo_(win-vs2017)/Release/vc142.pdb
Lab4_todo_(win-vs2017)/Release/Main.tlog/CL.command.1.tlog
Lab4_todo_(win-vs2017)/Release/Main.tlog/CL.read.1.tlog
Lab4_todo_(win-vs2017)/Release/Main.tlog/CL.write.1.tlog
Lab4_todo_(win-vs2017)/Release/Main.tlog/link.command.1.tlog
Lab4_todo_(win-vs2017)/Release/Main.tlog/link.read.1.tlog
Lab4_todo_(win-vs2017)/Release/Main.tlog/link.write.1.tlog
Lab4_todo_(win-vs2017)/Release/Main.tlog/Main.lastbuildstate
Lab4_todo_(win-vs2017)/.vs/ProjectSettings.json
Lab4_todo_(win-vs2017)/.vs/slnx.sqlite
Lab4_todo_(win-vs2017)/.vs/VSWorkspaceState.json
Lab4_todo_(win-vs2017)/.vs/Lab4_todo_(win-vs2017)/v16/.suo
Lab4_todo_(win-vs2017)/.vs/Lab4_todo_(win-vs2017)/v16/Browse.VC.db
Lab4_todo_(win-vs2017)/.vs/Main/v16/ipch/AutoPCH/3528851873df8b2c/MAIN.ipch
Lab4_todo_(win-vs2017)/.vs/Main/v16/ipch/AutoPCH/3d7c697c62ee9c32/SPHERE.ipch
Lab4_todo_(win-vs2017)/.vs/Main/v16/ipch/AutoPCH/4bf417c3a74b389d/TRIANGLE.ipch
Lab4_todo_(win-vs2017)/.vs/Main/v16/ipch/AutoPCH/50f02899aeec6c51/UTIL.ipch
Lab4_todo_(win-vs2017)/.vs/Main/v16/ipch/AutoPCH/9fa1df4ab4179622/CAMERA.ipch
Lab4_todo_(win-vs2017)/.vs/Main/v16/ipch/AutoPCH/bde83dbd96b033f9/PLANE.ipch
Lab4_todo_(win-vs2017)/.vs/Main/v16/ipch/AutoPCH/ce78a138a5bfe744/RAYTRACE.ipch
Lab4_todo_(win-vs2017)/.vs/Main/v16/ipch/AutoPCH/ce8c824977c254c8/SPHERE.ipch
Lab4_todo_(win-vs2017)/.vs/Main/v16/ipch/AutoPCH/ce8f2d1c45a6737/PLANE.ipch
Lab4_todo_(win-vs2017)/.vs/Main/v16/ipch/AutoPCH/db28dd45504e1fa3/TRIANGLE.ipch
Lab4_todo_(win-vs2017)/Debug/Camera.obj
Lab4_todo_(win-vs2017)/Debug/Image.obj
Lab4_todo_(win-vs2017)/Debug/ImageIO.obj
Lab4_todo_(win-vs2017)/Debug/Main.exe
Lab4_todo_(win-vs2017)/Debug/Main.exe.recipe
Lab4_todo_(win-vs2017)/Debug/Main.ilk
Lab4_todo_(win-vs2017)/Debug/Main.log
Lab4_todo_(win-vs2017)/Debug/Main.obj
Lab4_todo_(win-vs2017)/Debug/Main.pdb
Lab4_todo_(win-vs2017)/Debug/Main.vcxproj.FileListAbsolute.txt
Lab4_todo_(win-vs2017)/Debug/Plane.obj
Lab4_todo_(win-vs2017)/Debug/Raytrace.obj
Lab4_todo_(win-vs2017)/Debug/Sphere.obj
Lab4_todo_(win-vs2017)/Debug/Triangle.obj
Lab4_todo_(win-vs2017)/Debug/Util.obj
Lab4_todo_(win-vs2017)/Debug/vc142.idb
Lab4_todo_(win-vs2017)/Debug/vc142.pdb
Lab4_todo_(win-vs2017)/Debug/Main.tlog/CL.command.1.tlog
Lab4_todo_(win-vs2017)/Debug/Main.tlog/CL.read.1.tlog
Lab4_todo_(win-vs2017)/Debug/Main.tlog/CL.write.1.tlog
Lab4_todo_(win-vs2017)/Debug/Main.tlog/link.command.1.tlog
Lab4_todo_(win-vs2017)/Debug/Main.tlog/link.read.1.tlog
Lab4_todo_(win-vs2017)/Debug/Main.tlog/link.write.1.tlog
Lab4_todo_(win-vs2017)/Debug/Main.tlog/Main.lastbuildstate
Lab4_todo_(win-vs2017)/.vs/Main/v16/ipch/AutoPCH/2b9edbd26d762e2/RAYTRACE.ipch
Lab4_todo_(win-vs2017)/.vs/Main/v16/ipch/AutoPCH/3bb4395d9626b670/IMAGE.ipch
